fastapi
uvicorn[standard]
pydantic[email]
python-multipart
sqlalchemy[asyncio]>=2.0.0
aiomysql
redis[hiredis]
python-jose[cryptography]
passlib[bcrypt]
transformers
torch
numpy
scikit-learn
python-dotenv
async-lru
